<div class="row mb-3">
  <div class="last-line"></div>
</div>
<div class="container d-flex justify-content-between">
  <div class="about font-weight-bold">Стрюков Владислав</div>
  <div>
    <img class="last-logo img-fluid" src="https://psv4.userapi.com/c909618/u292881023/docs/d24/e4c4e4dd645e/VK_Compact_Logo_2021-present_svg.png?extra=aig1in66YXhQ4hsnk8fQPTR4GInD1ykykRKb-jGR30d4yD4GDrKpPrL_QXARpdQJ5hwvvoqM4fPLZA3C7AIU0lb1oM5xTfqB1LAd0C2PozwE83_6S1HgbqjnEEgtxnd3ES0EV8oo8q8dRg805YWysREW.png" alt="">
    <img class="last-logo img-fluid" src="https://sun9-25.userapi.com/impg/67sre6JHaUvPT3MBBCu-3NPKQCo6py95yD4qaA/tSc7C3DvdjE.jpg?size=599x447&quality=96&sign=3fa8bf61a329fd16c9f04c2547c72682&type=album.png" alt="">
  </div>
</div>