<div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="https://sun9-50.userapi.com/impg/atMMmUrGiQ_RuAQbC_AERU5_zSHJ6wkFi9WcKg/1t5GkZcYDHs.jpg?size=806x426&quality=96&sign=e407224b50b422c6e9677acc3434ae99&type=album.png" height="50" width="100" alt="" class="logo img-fluid">
        <p class="name">Турнир по мини-футболу "Sigma Cup 2023</p>
    </a>
    <button type="button" class="Atomic" id="toastbtn">Участвовать!</button>
</div>